#map {
    height: 94%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* #floating-panel {
    position: absolute;
    top: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
    transform: translate(125%);
} */

.custom-map-control-button {
    /* 點 (.) 來代表現行目錄的名稱 */
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3); */
    margin: 10px;
    padding: 0 0.5em;
    height: 85px;
    width: 85px;
    cursor: pointer;
    transform: translate(35vw, 75vh);
}

.cm-show{
    transform: translate(35vw, 40vh);
}

.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#save-button,#eye-button{
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 0 0.5em;
    height: 120px;
    width: 120px;
    cursor: pointer;
}

#save-button{
    background-image:url(./pic/save.svg) ;
    transform: translate(8vw, 4vh);
}

#eye-button{
    background-image:url(./pic/eye.svg) ;
    transform: translate(80vw, 4vh);
}

.ih{
    position: absolute;
    z-index: 1;
    background-image: url(./pic/Group\ 344.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.8vh;
    width: 15vw;
    transform: translate(8vw, 75vh);
}

.i-h{
    transform: translate(8vw, 40vh);
}

#scan-button{
    background-color: rgb(57, 122, 218);
    border: 0;
    border-radius: 20px;
    height: 6.3vh;
    width: 84vw;
    background-position: center;
    position: absolute;
    z-index: 1;
    transform: translate(8vw, 82vh);
    font-size: 20pt;
    color: white;
}

.ac{
    width:100%;
    height: 55%;
    bottom: 0;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    /* transition:height 0.3s; */
    visibility: hidden;
}

/* 是否要顯示該景點卡 */
.acshow {
    visibility: visible;
}

.a-cardback{
    width: 87.5%;
    
}

#title{
    display:flex;
    width:100%;
    font-size: 50px;
}

#name,#starrate{
    text-align: center;
}

.star-icon{
    background-image: url(./pic/clarity_star-solid.svg);
    width: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;

}

#user-icon{
    display: flex;
}



#pic{
    width: 100%;
    height: 48%;
    border-radius: 13px;
    display: flex;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

#addressbar,#parkbar,#phonebar{
    display: flex;
    font-size: 40px;
}


.address-icon, .park-icon, .phone-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    width:6%;
}

.address-icon{
    background-image: url(./pic/carbon_location.svg);
}

.park-icon{
    background-image: url(./pic/park.svg);
}

.phone-bar{
    background-image: url(./pic/ci_phone.svg);
}


.sc{
    width:100%;
    height: 50%;
    bottom: 0;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

/* 是否要顯示該景點卡 */
.scshow {
    visibility: visible;
}

.s-cardback{
    width: 87.2%;
    display: flex;
    flex-direction: column;
}

#up{
    height:49%;
    display: flex;
}

.left{
    height:100%;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.right{
    height:100%;
    width: 35%;
    background-image: url(./pic/Rectangle\ 19.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.line1,.line2,.line3,.line4,.line5{
    display: flex;
}

.scooter-icon,.status-icon,.battery-icon,.location-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:6.7%;
}

.scooter-icon{
    background-image: url(./pic/ic_round-electric-scooter.svg);
    
}


.battery-icon{
    background-image: url(./pic/carbon_battery-half.svg);
}

.location-icon{
    background-image: url(./pic/park.svg);
}



#down{
    height:51%;
    display: flex;
    flex-direction: column;
}

.divided-line{
    background-color: rgb(190, 186, 186);
    width:100%;
    height:1px;
}

.payment-text{
    height: 11.5%;
}

.payment-info{
    display: flex;
    width:100%;
    height:16.3%;
}

.card-img{
    background-image: url(./pic/card.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:16.8%;
}

.credit-card{
    display: flex;
    flex-direction: column;
}

.arrow-icon{
    background-image: url(./pic/right\ Verctor.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:2%;
}

.reservation{
    background-color: rgb(57, 122, 218);
    border-radius: 20px;
    height: 25.4%;
    width: 100%;
    border: 0;
    font-size: 20pt;
    color: white;
}

#navbar{
    height: 6%;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.icon{
    background-repeat: no-repeat;
    background-position: center;
    width: 23%;
    background-size:20% ;
    height: 83%;
}

div.icon:hover{
    border-radius: 15px;
    background-color: rgb(219, 217, 217);
}

.icon.search{
    background-image: url(./pic/explor.svg);
}

.icon.scooter{
    background-image: url(./pic/scooter.svg);
}

.icon.social{
    background-image: url(./pic/social.svg);
}

.icon.profile{
    background-image: url(./pic/profile.svg);
}