#map {
    height: 94%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-map-control-button {
    /* 點 (.) 來代表現行目錄的名稱 */
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    height: 75px;
    width: 75px;
    cursor: pointer;
    transform: translate(34vw, 70vh);
}
.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

/* #save-button,#eye-button{
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    height: 75px;
    width: 75px;
    cursor: pointer;
}

#save-button{
    background-image:url(./pic/save.svg) ;
}

#eye-button{
    background-image:url(./pic/eye.svg) ;
} */

#navbar{
    height: 6%;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.icon{
    background-repeat: no-repeat;
    background-position: center;
    width: 23%;
    background-size:20% ;
    height: 83%;
}

div.icon:hover{
    border-radius: 15px;
    background-color: rgb(219, 217, 217);
}

.icon.search{
    background-image: url(./pic/explor.svg);
}

.icon.scooter{
    background-image: url(./pic/scooter.svg);
}

.icon.social{
    background-image: url(./pic/social.svg);
}

.icon.profile{
    background-image: url(./pic/profile.svg);
}


