#map {
    height: 94%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#save-button,#eye-button{
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 0 0.5em;
    height: 120px;
    width: 120px;
    cursor: pointer;
}

#save-button{
    background-image:url(./pic/save.svg) ;
    transform: translate(8vw, 4vh);
}

#eye-button{
    background-image:url(./pic/eye.svg) ;
    transform: translate(80vw, 4vh);
}

.bc{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:43.8%;
    bottom:0;
    transform: translate(0, 40%);
}

.bcshow{
    transform: translate(0, 0);
    z-index: 5;
}

.bcshow2{
    transform: translate(0, 0);
    z-index: -1;
}

#basic-info{
    width: 100%;
    height:7%;
    display: flex;
    margin-bottom: 3%;
}

.i-help{
    background-image: url(./pic/Group\ 344.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16%;
}



.custom-map-control-button {
    /* 點 (.) 來代表現行目錄的名稱 */
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 8%;
    cursor: pointer;
}


.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#scan-button{
    background-color: rgb(57, 122, 218);
    border: 0;
    border-radius: 20px;
    height: 6.3vh;
    width: 84vw;
    background-position: center;
    position: absolute;
    z-index: 1;
    transform: translate(8vw, 82vh);
    font-size: 20pt;
    color: white;
}

.ac{
    width:100%;
    height: 55%;
    bottom: 0;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    /* transition:height 0.3s; */
    visibility: hidden;
}

/* 是否要顯示該景點卡 */
.acshow {
    visibility: visible;
}

.a-cardback{
    width: 87.5%;
    
}

#title{
    display:flex;
    width:100%;
    font-size: 50px;
}

#name,#starrate{
    text-align: center;
}

.star-icon{
    background-image: url(./pic/clarity_star-solid.svg);
    width: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;

}

#user-icon{
    display: flex;
}



#pic{
    width: 100%;
    height: 48%;
    border-radius: 13px;
    display: flex;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

#addressbar,#parkbar,#phonebar{
    display: flex;
    font-size: 40px;
}


.address-icon, .park-icon, .phone-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    width:6%;
}

.address-icon{
    background-image: url(./pic/carbon_location.svg);
}

.park-icon{
    background-image: url(./pic/park.svg);
}

.phone-bar{
    background-image: url(./pic/ci_phone.svg);
}


.sc{
    width:100%;
    height: 90%;
    bottom: 0;
    border-radius: 50px;
    background-color: #fff;
    display: none;
    justify-content: center;
    visibility: hidden;
}

/* 是否要顯示該景點卡 */
.scshow {
    display: flex;
    visibility: visible;
}

.s-cardback{
    width: 87.2%;
    display: flex;
    flex-direction: column;
}

#up{
    height:49%;
    display: flex;
}

.left{
    height:100%;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.right{
    height:100%;
    width: 35%;
    background-image: url(./pic/Rectangle\ 19.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.line1,.line2,.line3,.line4,.line5{
    display: flex;
}

.scooter-icon,.status-icon,.battery-icon,.location-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:6.7%;
}

.scooter-icon{
    background-image: url(./pic/ic_round-electric-scooter.svg);
    
}


.battery-icon{
    background-image: url(./pic/carbon_battery-half.svg);
}

.location-icon{
    background-image: url(./pic/park.svg);
}



#down{
    height:51%;
    display: flex;
    flex-direction: column;
}

.divided-line{
    background-color: rgb(190, 186, 186);
    width:100%;
    height:1px;
}

.payment-text{
    height: 11.5%;
}

.payment-info{
    display: flex;
    width:100%;
    height:16.3%;
}

.card-img{
    background-image: url(./pic/card.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:16.8%;
}

.credit-card{
    display: flex;
    flex-direction: column;
}

.arrow-icon{
    background-image: url(./pic/right\ Verctor.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:2%;
}

#reservation{
    background-color: rgb(57, 122, 218);
    border-radius: 20px;
    height: 25.4%;
    width: 100%;
    border: 0;
    font-size: 20pt;
    color: white;
}

.rc{
    position: absolute;
    z-index: 7;
    display: flex;
    justify-content: center;
    width: 100%;
    height:35%;
    bottom:0;
    transform: translate(0, -25%);
    visibility: hidden;
}

#reservecontainer{
    display: flex;
    flex-direction: column;
    width: 87%;
}



#basic-info2{
    height:15%;
    display: flex;
    margin-bottom: 4%;
    justify-content: space-between;
    align-items: center;
}

.i-help2{
    background-image: url(./pic/Group\ 344.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 17.7%;
    height: 73%;
}


.custom-map-control-button2 {
    /* 點 (.) 來代表現行目錄的名稱 */
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 10%;
    height: 75%;
    cursor: pointer;
}


.custom-map-control-button2:hover {
    background: rgb(235, 235, 235);
    background-image:url(./pic/navigation.svg) ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.small-scan-button{
    background-color: rgb(57, 122, 218);
    border: 0;
    border-radius: 20px;
    width: 66%;
    height: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-scan-button-icon{
    background-image:url(./pic/fluent_scan-dash-20-filled.svg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:15%;
    height: 100%;
    margin-right: 5%;
}


.small-scan-button-text{
    font-family: DMSans, Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.88px;
    width:18.8%;
    font-size: 35px;
    color: white;
}

.reservecard{
    width:100%;
    height: 81%;
    bottom: 0;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scooter-info{
    display: flex;
    width: 89%;
    height: 10%;
    margin-top: 8%;
    margin-bottom: 3%;
}

.scooter-icon2, .gray-arrow-icon{
    background-repeat: no-repeat;
    background-size: contain;
}

.scooter-icon2{
    background-image: url(./pic/ic_round-electric-scooter.svg);
    width:36%;
    background-position: right;
}

.scooter-text2{
    width: 24%;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
    color: #404d61;
}

#number2{
    width: 26%;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: normal;
    color: #404d61;
}


.gray-arrow-icon{
    background-image: url(./pic/Group\ 355.svg);
    width:21.7%;
    background-position: right;
}

.divided-line2{
    background-color: rgb(190, 186, 186);
    width:89%;
    height:1px;
}

.middle-container{
    display: flex;
    height: 59%;
    width: 89%;
    margin-top: 5.9%;
}

.left-container{
    width:40%;
    display:flex;
    flex-direction: column;
}

#battery2{
    height: 34.9%;
    width: 100%;
    font-family: DMSans;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 1.87px;
    text-align: center;
    color: #1784e8;
}

.bigbattery{
    width: 100%;
    height: 24.6%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-image: url(./pic/Group\ 347.svg);
    margin-top: 5.5%;
    margin-bottom: 4.7%;
}

.cancelbutton{
    width: 71%;
    height: 30.1%;
    border-radius: 7px;
    border: 0;
    background-color: #f5f5f5;
    font-family: DMSans;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.28px;
    text-align: center;
    color: rgba(117, 125, 138, 0.52);
    transform:translate(20%) ;
}

.divided-line3{
    background-color: rgb(190, 186, 186);
    width:1px;
    height:98%;
    background-position: center;
}

.right-container{
    width: 59%;
    display:flex;
    flex-direction: column;
}


.right-up{
    width: 100%;
    height: 65.8%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(./pic/Rectangle\ 19.svg);
}

.location-container{
    display: flex;
    width: 100%;
    height:31.7%;
    margin-top:2.38%;
}

.location-icon2{
    width: 12.2%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 70%;
    background-image: url(./pic/park.svg);
    margin-left: 8.7% ;
    margin-right: 2.9% ;
}

.location-text{
    width: 73.8%;
}

#location2,#area2{
    font-family: DMSans;
    font-size: 30px;
    text-align: left;
    color: #404d61;
}

.payment-info2{
    width: 89%;
    height: 19%;
    text-align: center;
    margin-top: 4.2%;
    font-family: DMSans;
    font-size: 35px;
    letter-spacing: 0.24px;
    color: #757d8a;
}




#navbar{
    height: 6%;
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.icon{
    background-repeat: no-repeat;
    background-position: center;
    width: 23%;
    background-size:20% ;
    height: 83%;
}

div.icon:hover{
    border-radius: 15px;
    background-color: rgb(219, 217, 217);
}

.icon.search{
    background-image: url(./pic/explor.svg);
}

.icon.scooter{
    background-image: url(./pic/scooter.svg);
}

.icon.social{
    background-image: url(./pic/social.svg);
}

.icon.profile{
    background-image: url(./pic/profile.svg);
}